<!-- <!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>
</head>
<body>
<h2>OTP Verification</h2>

<form method="POST">
    <label>Enter OTP:</label><br>
    <input type="text" name="otp" required><br><br>

    <button type="submit">Verify OTP</button>
</form>

</body>
</html> -->
{% extends "base.html" %}

{% block content %}

<h2>OTP Verification</h2>

<form method="POST">

    <label>Enter OTP</label>

    <input type="text" name="otp" required>

    <button type="submit">Verify OTP</button>

</form>

{% endblock %}